<a href="https://colab.research.google.com/github/jschweitzer7/predicciones-ventas/blob/main/Predicciones_Ventas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# importar una librería
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
filename = '/content/drive/MyDrive/PTCienciaDeDatos/PandasParaManipulacionDeDatos/Proyecto_Predicciones_Ventas/sales_predictions.csv'
df = pd.read_csv(filename)
df

In [108]:
df.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [109]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [110]:
df['Item_Weight'].isna().head()

0    False
1    False
2    False
3    False
4    False
Name: Item_Weight, dtype: bool

In [ ]:
itemWeightMissing = df['Item_Weight'].isna()
df.loc[itemWeightMissing,:]

In [119]:
df.isna().sum() #valores faltantes identificados

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [ ]:
df['Item_Weight'].isna().sum()

In [ ]:
#Método 1
#Ingresa todos los valores faltantes de la columna Item_Weight Counts con 0.
df.loc[0:8522,'Item_Weight'].fillna(0)

In [ ]:
#Metodo 2
#forma alternativa de ingresar datos faltantes
df.fillna(value=0,inplace=True)
df

In [ ]:
#Metodo 3 (sustituir por el dato del indice previo)
df.loc[0:8522,'Item_Weight'].fillna(method='ffill')

In [ ]:
#Metodo 4, Interpolación, escoge el valor faltante como el valor intermedio
df.loc[0:8522,'Item_Weight'].interpolate(method = 'linear')
df2 = df.loc[0:8522,'Item_Weight'].interpolate(method = 'linear')
df2

In [124]:
df2.isna().sum() #valores faltantes identificados

0